[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/yakbal-y/pfds/blob/main/pandas.ipynb)

In [84]:
#### Run this cell as this cell will download some necessary files for your exercises.
### Run the following function, do not change any line of it.
import requests
import pandas as pd
def download_text():
    data_url1 = "https://raw.githubusercontent.com/yakbal-y/ds/main/tsfinal02.csv"
    #url = "https://raw.githubusercontent.com/y-akbal/Tedu_Time_Series/main/W8/combined_csv.csv"
    text1 = requests.get(data_url1, allow_redirects=True)
    with open("data_set_.csv","wb") as file:
        file.write(text1.content)

In [85]:
download_text()

In [91]:
pd.read_csv("data_set_.csv")

     Unnamed: 0  Feature_1
0             0  54.881350
1             1  71.518937
2             2  60.276338
3             3  54.488318
4             4  42.365480
..          ...        ...
995         995   9.767637
996         996  51.492220
997         997  93.841202
998         998  22.864655
999         999  67.714114

[1000 rows x 2 columns]